header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2.7rem;

  .profile {

    a {
      display: block;
    }
  }

  // hidden h1
  .header__title {
    @include hiddenTitle;
  }

  .heading-secondary {
    color: $color-black;
  }

  .header__icon-wrap {
    display: flex;
    align-items: center;

    .qrcode {
      margin-right: 1.8rem;
    }
    .search {

    }
  }
}